body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.callphone{
	right: 0;
	font-size: 1.2em;
	padding: 20px;
	position: absolute;
	background: #fe0000;
	color: #fff;
	font-style: italic;
	border-bottom-left-radius: 1.5em;
}
.lead {
	font-size: 18px;
	font-weight: 400;
}
.logo{
	position: absolute;
	background: #fff;
	padding-bottom: 10px;
	width: 17%;
}
.intro-header {
	min-height: 100%;
	background: url(../img/intro-bg.jpg) no-repeat center top;
	background-size: cover;
}
.curtain{
	min-height: 100%;
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	text-align: center;
	
}
.intro-message {
	position: relative;
	padding-top: 10%;
	padding-bottom: 20%;
}
.share{
	text-align: left;
	background: #26a9e0;
	padding: 1px 10px;
}
.snap{
	text-align: left;
	background: #00888a;
	padding: 1px 10px;
}
.smile{
	text-align: left;
	background: #f6931d;
	padding: 1px 10px;
}
a:hover{
	text-decoration: none;
}
.share h1, .snap h1, .smile h1{
	font-size: 3em;
	margin-top: 5px;
	color: #fff;
}
.share p, .snap p, .smile p{
 font-size: 1.15em;
 font-weight: normal;
 font-style: italic;	
 color: #fff;
}
.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}
.img-center{
	margin: 0 auto;
}
.section-heading {
	margin-bottom: 30px;
	font-size: 3em;
	font-weight: bolder;
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	background: url(../img/g5.jpg) no-repeat center top;
	background-size: cover;
	min-height: 20%;
}
.fa-cx{
	font-size: 20px;
}
.curtainb{
	min-height: 20%;
	padding: 8% 0;
	color: #f8f8f8;
	
}
.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}
@media (max-width: 546px) {
	.logo{
	width: 37%;
	}
	.callphone{
	font-size: 14px;
	padding: 5px;
	border-bottom-left-radius: 10px;
}
.share h1, .snap h1, .smile h1{
	font-size: 2em;
	
}
.share p, .snap p, .smile p{
 font-size: 1em;
 
}
}
@media (min-width: 568) and (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}
	.smile, .snap, .share{
		width: 45%;
		margin: auto;
	}
	.share h1, .snap h1, .smile h1{
	text-align: center;
}
.share p, .snap p, .smile p{
 text-align: center;
 
}
	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}
@media (max-width: 367px) {
.intro-message > h1 {
		font-size: 1.5em;
		margin-top: 10px;
	}
}
footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}