
@font-face {
font-family: OswaldLight;
src: url(Oswald-Light.ttf);
}

@font-face {
font-family: OswaldRegular;
src: url(Oswald-Regular.ttf);
}


@font-face {
font-family: OswaldBold;
src: url(Oswald-Bold.ttf);
}



/* Begin Typography & Colors */
body {
	margin: 0;
	padding: 0;	
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	line-height: 30px;
	text-align: center;
	color: #444;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: url(../../images/bg.jpg);
	background-color: #F6F6F6;
}

a {
	color: #FF3F00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr {
	height: 2px;
	background-color: #DDDDDD;
	width: 90%;
	border:0;
	margin-bottom: 50px;
}

h2 {
	font: 42px/60px 'OswaldLight';
	padding: 20px 0px 20px 0px;
	margin: 0px;
	text-indent: 0px;
	display: inline-block;
	margin-top: -20px;
}

h2:hover {
	background:url('../images/labelCopy.png') no-repeat left top;
	padding-top: 20px;
	margin-top: -20px;
}
@media (max-width: 835px){
h2:hover {
	background:url('../images/labelCopy.png') no-repeat 0px 35px;
	padding-top: 20px;
	margin-top: -20px;
}	
}
.textH2 {
	font: 42px/60px 'OswaldLight';
	padding: 0px 0px 30px 0px;
	margin: 0px;
	text-indent: 0px;
	display: inline-block;
}
@media (max-width: 768px){
h2, .textH2 {
	font: 32px/40px 'OswaldLight';
}
}
@media (max-width: 368px){
h2, .textH2 {
	font: 22px/30px 'OswaldLight';
}
.gap{
	margin-top: 40px;
}
}
@media (max-width: 835px){
.gap{
	margin-top: 40px;
}
}
.textsmall {
	font-size: 14px;
	color: #999999;
}

ul, ol {
	margin:0;
	text-align:left;
	display: inline-block;
}






div.content {
    padding: 0 0 0 0;
    width: 100%;
    position: relative;
    margin-left: auto;
    text-align: left;
    display: inline-block;
}

ol.ideas {
    list-style-position:inside;
    counter-reset: item;
    list-style-type: none;
    padding: 0 0 0 0;
    width: 100%;
    margin-left: -100px;
    position: relative;
}
@media (max-width: 568px){
	ol.ideas {
    list-style-position:none;
    counter-reset: item;
    list-style-type: none;
    max-width: 560px;
 	min-width: 450px;
 	
}
}
@media (max-width: 480px){
	ol.ideas {
    list-style-position:none;
    counter-reset: item;
    list-style-type: none;
    max-width: 460px;
 	min-width: 400px;
 	
}
}
@media (max-width: 330px){
	ol.ideas {
    list-style-position:none;
    counter-reset: item;
    list-style-type: none;
    padding: 0 0 0 0;
    width: 100%;
    max-width: 460px;
 	min-width: 300px;
}
}

ol.ideas > li { 
    background: url(../images/bullet_bg_ordered.png) no-repeat 0px 0px;
    padding: 10px 0 100px 0;
    margin: 0px;
    text-indent: -90px;
    padding-left: 100px;
    position: relative;
}
ol.ideas > li:before { 
    content: counter(item) ""; 
    counter-increment: item;
	color: #ffffff;

	font: 700 36px/75px 'OswaldBold';
    text-align: center;
    padding: 0px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
	vertical-align: top;

    width: 80px;
    height: 80px;
    display: inline-block;
    text-indent: 0px;
}
ol.ideas > li.read {
	background: url(../images/bullet_bg_ordered_read.png) no-repeat 0px 0px;
}
@media (max-width: 835px){
	ol.ideas > li { 
    background: url(../images/bullet_bg_ordered.png) no-repeat 110px 0px;
    margin: 0px;
    padding: 0;
    text-indent: -100px;
    padding-left: 100px;
    position: relative;
}
ol.ideas > li:before { 
    content: counter(item) ""; 
    counter-increment: item;
	color: #ffffff;

	font: 700 36px/75px 'OswaldBold';
    text-align: center;
    padding: 0px 20px 0px 0px;
    margin: 10px 0px 0px 120px;
	vertical-align: top;
	width: 80px;
    height: 80px;
    display: inline-block;
    text-indent: 0px;
}
ol.ideas > li.read {
	background: url(../images/bullet_bg_ordered_read.png) no-repeat 110px 0px;
}
	}

ol.ideas > li.read:before{
}




ol.numbered {
    list-style-type: none;
    padding: 10px 0 10px 30px;
    margin: 0 0 0 0;
}
ol.numbered > li {
    display: block;
    background: transparent url(../images/bullet_bg_ordered_numbered.png) no-repeat scroll 0px 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
    font-size: 16px;
}

.numberedIdea {
	width: 26px;
	height: 26px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	padding-right: 10px;
	vertical-align: top;
	margin: 0px;
	line-height: 28px;
}


#readStatus {
	display: inline-block;
	border-radius: 15px;
	background-color: #ffffff;
	padding: 0 16px 0 16px;
	color: #999999;
	font: 300 36px/70px 'OswaldLight';
}
@media (max-width: 768px){
	#readStatus {
	padding: 0 10px 0 0px;
	font: 300 32px/60px 'OswaldLight';
}
}
@media (max-width: 368px){
	#readStatus {
	padding: 0 10px 0 0px;
	font: 300 24px/30px 'OswaldLight';
}
}

.opening {
	padding: 60px 0 90px 0;
	width: 95%;
	font-size: 30px;
	text-align: left;
	margin:0 auto;
	font: 42px/70px 'OswaldLight';
	color: #777777;
}
.openingBig {
	font: 90px/140px 'OswaldBold';
}
.topHighlight {
  display: inline-block;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 0 16px 0 16px;
  color: #999999;
  font: 300 36px/70px 'OswaldLight';
}
@media (max-width: 768px){
.opening {
	font: 32px/60px 'OswaldLight';
	color: #777777;
}
.openingBig {
	font: 80px/120px 'OswaldBold';
}
.topHighlight {
  font: 300 28px/60px 'OswaldLight';
}	
}
@media (max-width: 368px){
.opening {
	font: 22px/40px 'OswaldLight';
	color: #777777;
}
.openingBig {
	font: 40px/60px 'OswaldBold';
}
.topHighlight {
  font: 300 24px/40px 'OswaldLight';
}		
}

.textGood {
	color: #FF9999;
	/*text-shadow: 0px 0px 5px #000000;*/
}
.textStrong {
	color: #444444;
	font-family: 'OswaldBold';

}
.textStrong2 {
	font-family: 'OswaldBold';
}

.textLight {
	color: #999999;
}

.description {
	text-indent: 0px;
	display: inline-block;
	font-size: 18px;
	padding-bottom: 20px;
}
@media (max-width: 768px){
	.description {
	font-size: 16px;
}
}

#footer {

	width: 100%;
	min-height: 250px;
    background-color: #333333;
    box-shadow: 0px -5px 8px rgba(0,0,0,0.2);
    color: #ffffff;
    left: 0px;
}
@media (max-width: 368px){
	#footer{
		top: 10px;
	}
}
#footerPress {
	position: absolute;
	min-width: 210px;
	height: 30px;
	background: url(../images/labelPress.png) no-repeat;
	top: -45px;
	right: 20px;
}


.footer {
	display: inline-block;
	border-top: 10px solid #8f8f8f;
	z-index: 0 !important;
	background-color: #333333;
}

.scroll-to-fixed-fixed {
	/*border-top: 10px solid #FF3F00;*/
    cursor: pointer;
    background-color: #333333;
}


.footerRedBorder {
	/*border-top: 10px solid #FF3F00;*/
}


#footerInner {
	width: 95%;
	margin:0 auto;
	text-align:left;
	font-family: "Franklin ITC Pro Bold",sans-serif;
    font-size: 13px;
    padding: 20px 0 0 0;
    text-align: center;
}

#footerleft {
	display: inline-block;
 	text-align: left;
 	vertical-align: top;
	font: 300 18px/30px 'OswaldLight';
}

#footerright {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	text-indent: left;
	padding: 10px 0 0 30px;
}

#footerItems * {
	vertical-align: top;
	padding: 0 30px 0 0px;
	display: inline-block;
}

.caption {
	border-top: solid 1px #666666;
	padding-top: 10px;
	text-align: center;
}

.textGetNewsletter {
	font: 300 38px/52px 'OswaldLight';
}

.caption a {
	color: #FF3F00;
	font-weight: bold;
}



input {
	border:1px solid #cfcfcf; 
	background-color: #F1F1F1;
	padding:4px; 
	border-radius: 5px;
	margin: 3px 0 2px 2px;
	width: 188px;
}
input:focus {
	border:1px solid #cfcfcf; 
	background-color: #ffffff;
	padding:4px; 
	border-radius: 5px;
	margin: 3px 0 2px 2px;
	width: 188px;
	box-shadow: 0 0 2px #D98E8C;
}


#fsubmit {
	background:url('../images/bt_join_default.png') no-repeat;
	background-size: 95%;
    cursor:pointer;
    width: 204px;
    height: 46px;
    border: none;
    margin: 0px;
}
#fsubmit:hover {
	background:url('../images/bt_join_hover.png') no-repeat;
	background-size: 95%;
    cursor:pointer;
    width: 204px;
    height: 46px;
    border: none;
    margin: 0px;
}


#fpurchase {
	background:url('../images/bt_purchase_default.png') no-repeat;
	width: 60%;
    height: 86px;
    border: none;
    display: inline-block;
    margin-top: -15px;
}
#fpurchase:hover {
	background:url('../images/bt_purchase_hover.png') no-repeat;
	width: 60%;
    height: 86px;
    border: none;
    display: inline-block;
    margin-top: -15px;
}

#fpurchase2 {
	background:url('../images/bt_purchase2_default.png') no-repeat;
	width: 50%;
    height: 86px;
    border: none;
    display: inline-block;
    margin-top: -15px;
}
#fpurchase2:hover {
	background:url('../images/bt_purchase2_hover.png') no-repeat;
	width: 50%;
    height: 86px;
    border: none;
    display: inline-block;
    margin-top: -15px;
}

.label,.label2 {
	left: 0px;
	top: 92px;
	position: absolute;
}
.label2 {
	top: 116px;
}
@media (max-width: 835px){
	.label,.label2 {
	left: 110px;
	top: 22px;
	position: absolute;
}
.label2 {
	top: 82px;
}
}
.anchor {
	padding-top: 30px;
	border: 0;
	outline: 0;
	display: inline-block;
	padding-right: 5px;
	margin-top: 10px;
}

.anchortitle, .anchortitle span {
	color: inherit;

}
.anchortitle:hover   {
	color: #666666 !important;
	text-decoration: none;
}


.ideaimg {
	height: auto;
}

#bt_screencast {
	background:url('../images/howtoab_screencast.png') no-repeat;
	width: 95%;
	height: auto;
	display: inline-block;
}

#bt_screencast:hover {
	background:url('../images/howtoab_screencast_hover.png') no-repeat;
	width: 95%;
	height: auto;
	display: inline-block;
}


#howtoabtest {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 45%;
	height: auto;
	background:url('../images/howtoabtest.png') no-repeat;
	display: inline-block;
	text-align: center;
}


#hidefooter {
	font-weight: 400;
}

#hidefooter2 {
	position: absolute;
	width: 170px;
	height: 70px;
	background:url('../images/hide.png') no-repeat;
	top: -78px;
	visibility: hidden;
	padding: 0px;
	margin: 0px;
}


#howtoabtest a {
	vertical-align: bottom;
	display: inline-block;
	bottom: 6px;
	left: 125px;
	font-size: 28px;
	position: absolute;
}


#sb-wrapper{
	z-index: 10001 !important;
	position: fixed !important;
}

#sb-title {
	height: 0px !important;
}






@media screen and (max-width : 1240px) {
#howtoabtest {
	visibility: hidden;
}

#footerPress {
	visibility: hidden;	
}

}




@media only screen and (max-device-width : 966px) {

body {
	font-size: 1.6em;
	line-height: 1.8em;
}

.opening {
	width: 82%;
	margin-left: 13% !important;
	background-color: #F6F6F6;
}

h2 {
	background-color: #F6F6F6;
}
ul,ol {
	width: 90%;
	margin-left: -2% !important;
	background-color: #F6F6F6;
}

li, .description, .content, .content > span {
	background-color: #F6F6F6;
}


#footerInner {
	width: 940px;
}

#footerleft {
	width: 510px;
}

#footerright {
	width: 200px;
}

#footerSub01, #footerSub02 {
	width: 410px;
}

#footerleft, #footerSub01, #footerSub02 {
	font-size: 1.6em;
	line-height: 1.6em;
}

#hidefooter {
	font-weight: bold;
	visibility: hidden;
}



#hidefooter2 {
	visibility: visible;
}

#howtoabtest {
	visibility: hidden;
}

}
